<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallary</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/gallary.css') }}" />
</head>
<body>
    <h3><a href="/">home page</a></h3>
    <h3><a href="/upload_file">upload file</a></h3>
    <form method="post">
        <div id="search_section">
            <div id="search_bar_and_button">
                {{ form.search }}
                <input type="submit" value="search" />
            </div>
        </div>
    </form>
    <div id="content">
        {% for f in files %}
        <div class="image_and_tag">
            <div class="image">
                <img src="/static/{{f.file_path}}{{f.filename}}">
            </div>
            <div class="tag">
                <span>{{f.tag}}</span>
                <br>
                <span>{{f.upload_time}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>